.sign-up-image-container {
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  align-items: flex-start; /* Align content to the top */
  height: 50vh; /* Make the container height equal to the viewport height */
  margin-top: -15vh; /* Move the container up by 20vh (adjust as needed) */
}

.sign-up-image-container img {
  max-width: 70%; /* Limit the image to 50% of the container's width */
  height: auto; /* Let the image adjust its height while maintaining aspect ratio */
}
