/* Placeholder styles */
::placeholder {
  color: transparent;
  opacity: 1;
}

/* Main content styling */
.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: transparent;
}

/* Form container styling */
/* Form container styling */
.formContainer {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: -1000px auto 0 auto; /* Adjust this value to move the form up or down */
}


/* Fieldset styling */
.noBorder {
  border: none;
  padding: 0;
  margin: 0;
}

/* Text input styling */
.textInput {
  font-size: 1rem;
  border-radius: 0.2rem;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
}

/* Next button styling */
.nextButton {
  font-size: 1rem;
  border-radius: 0.2rem;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  width: 100%;
  border: none;
  background-color: #f39200;
  color: white;
  cursor: pointer;
}
