.login-image-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 60vh;
  margin-top: -50vh;
}

.login-image-container img {
  max-width: 77%;
  height: auto;
}

h1#Log\ in {
  text-align: left;
  margin: 0;
  margin-top: 200px;
  margin-left: 95px; /* Adjusted margin-left to move the header slightly to the left */
}



 form {
  position: relative;
  left: -70px;
}