.feed-background {
  display: flex;
  flex-direction: column;
  min-height:150vh; /* Minimum full height of the viewport */

  background-image: url('../../assets/blue.png');
  background-size: 100%; /* To make sure the image covers the full container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.form-container {
  position: absolute;  
  top: 0;         
  left: 0;          
  width: 100%;    

}

#feed {
  margin-top: 150px; 
}
 
